# dependencies & build
node_modules/
.next/
out/
dist/

# env & secrets
.env
.env.local
.env.*.local

# cache & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.cache/
.eslintcache

# prisma
prisma/dev.db
prisma/dev.db-journal

# uploads (local only)
public/uploads/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
